<h1>Rewards#show</h1>
<p>Find me in app/views/rewards/show.html.erb</p>
<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <div class="tree">
    <!-- Primeiro caminho -->
    <% x_start = 450 - (3 * 15) %>
    <% y_start = 90 - (3 * 30) %>
    <% 3.times do |i| %>
      <div class="btn stone" style="left: <%= x_start + (i * 5) - (i * 40) %>px; bottom: <%= y_start + (i * 40) %>px;"></div>
    <div class="btn stone" style="left: <%= x_start + (i * 5) - (i * 40) %>px; bottom: <%= y_start + (i * 40) %>px;"></div>
    <% 3.times do |i| %>
      <div class="btn stone" style="left: <%= x_start + (i * 5) - (i * 40) %>px; bottom: <%= y_start + (i * 40) %>px;"></div>
    <div class="btn stone" style="left: <%= x_start + (i * 5) - (i * 40) %>px; bottom: <%= y_start + (i * 40) %>px;"></div>
     <% 3.times do |i| %>
      <div class="btn stone" style="left: <%= x_start + (i * 5) - (i * 40) %>px; bottom: <%= y_start + (i * 40) %>px;"></div>
    <div class="btn stone" style="left: <%= x_start + (i * 5) - (i * 40) %>px; bottom: <%= y_start + (i * 40) %>px;"></div>
    <% end %>

    <!-- Segundo caminho, começando na 4ª pedra do primeiro caminho -->
    <% x_start = 300 %>
    <% y_start = 120 %>
    <% 12.times do |i| %>
      <div class="stone" style="left: <%= x_start + (i * 15) %>px; bottom: <%= y_start + (i * 45) %>px;"></div>

    <% end %>

    <!-- Terceiro caminho, começando na 4ª pedra do segundo caminho -->
    <% x_start = 225 + (3 * 15) + (3 * 30) %>
    <% y_start = 210 + (3 * 30) %>
    <% 12.times do |i| %>
      <div class="stone" style="left: <%= x_start + (i * 60) - (i * 5) %>px; bottom: <%= y_start + (i * 10) %>px;"></div>
    <% end %>
  </div>
</div>
