<!-- app/views/pages/home.html.erb -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= asset_path('_bannerGreen.png') %>');">
  <div class="container">
      <% if user_signed_in? %>
  <h1 class="text-uppercase fs-1 fw-bold">Olá, <%= current_user.first_name %>!</h1>
  <% else %>
  <h1>Olá, Visitante!</h1>
<% end %>
    <p class="text-white fw-bold">Desbloqueie seu potencial.</p>
  </div>
</div>

<div class="container m-1 p-5 d-flex flex-row justify-content-evenly w-100">
<div>
  <h3>Estes são os TOP 3 do mês</h3>
  <ul class="list-group">
    <% @top_users.each do |user| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= "#{user.first_name} #{user.last_name}" %>
        <span class="badge badge-primary badge-pill text-dark"><%= user.total_points %> pontos</span>
        <i class="fa-solid fa-star homeBtn"></i>
      </li>
    <% end %>
  </ul>
  <h3 class="mt-5">Seus desafios completos</h3>
  <% if @labels_challenges_done_per_user.present? %>
    <ul>
      <% @labels_challenges_done_per_user.each do |user_email, challenge_titles| %>
        <ul>
          <% challenge_titles.each do |title| %>
            <li><%= title %></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% else %>
    <p>Você não completou desafios ainda.</p>
  <% end %>
  <h3 class="mt-5">Seus prêmios</h3>
    <% if @earned_rewards.present? %>
    <ul>
      <% @earned_rewards.each do |earned_reward| %>
        <li><%= earned_reward.reward.title %> - <%= earned_reward.reward.points %> points</li>
      <% end %>
    </ul>
  <% else %>
    <p>Você não ganhou premios ainda.</p>
  <% end %>
</div>
<div>
<h3 class="">Desafios mais conquistados</h3>
<div class="chart-container">
  <canvas id="challengesChart" width="400" height="400"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener('turbo:load', function() {
    var labels_challenges = <%= raw @labels_challenges.to_json %>;
    var data_challenges = <%= raw @data_challenges.to_json %>;

    var labels_sales = <%= raw @labels_sales.to_json %>;
    var data_sales = <%= raw @data_sales.to_json %>;

    var ctx1 = document.getElementById('challengesChart').getContext('2d');
    var challengesChart = new Chart(ctx1, {
      type: 'doughnut',
      data: {
        labels: labels_challenges,
        datasets: [{
          label: 'Desafios conquistados',
          data: data_challenges,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: false,
            text: 'Desafios mais conquistados'
          }
        }
      },
    });

    var ctx2 = document.getElementById('salesChart').getContext('2d');
    var salesChart = new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: labels_sales,
        datasets: [{
          label: 'Sales Amount',
          data: data_sales,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            display: false, // Hide legend for this chart
          },
          title: {
            display: true,
            text: 'Faturamento total por desafio'
          }
        },
        scales: {
          x: {
            display: false, // Hide x-axis labels
          },
          y: {
            beginAtZero: true
          }
        }
      },
    });
  });
</script>
</div>
