<div class="container m-5 d-flex flex-column justify-content-center align-items-center">
  <h1>Aprove Pontos</h1>
  <%= simple_form_for @challenge_done do |f| %>
    <%= f.input :user_id, collection: @users.map { |user| [user.email, user.id] }, prompt: 'Selecione o funcionário', label:"Funcionário" %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: 'Selecione o desafio', label:"Desafio" %>
    <%= f.button :submit, value: "Atribuir pontos!", class:"btn btn-primary w-100 rounded-4" %>
  <% end %>
</div>

<div class="container m-5 d-flex flex-column justify-content-center align-items-center">
  <h1>Crie um Desafio</h1>
  <%= simple_form_for @challenge_done do |f| %>
    <%= f.input :user_id, collection: @users.map { |user| [user.email, user.id] }, prompt: '', label:"Nome do Deafio" %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Pontos' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Preço' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha' %>
    <%= f.button :submit, value: "Criar Desafio!", class:"btn btn-primary w-100 rounded-4" %>
  <% end %>
</div>

<div class="container m-5 d-flex flex-column justify-content-center align-items-center">
  <h1>Edite um Desafio</h1>
  <%= simple_form_for @challenge_done do |f| %>
    <%= f.input :user_id, collection: @users.map { |user| [user.email, user.id] }, prompt: '', label:"Nome do Deafio" %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Pontos' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Preço' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha' %>
    <%= f.button :submit, value: "Criar Desafio!", class:"btn btn-primary w-100 rounded-4" %>
  <% end %>
</div>

<div class="container m-5 d-flex flex-column justify-content-center align-items-center">
  <h1>Crie um Prêmio</h1>
  <%= simple_form_for @challenge_done do |f| %>
    <%= f.input :user_id, collection: @users.map { |user| [user.email, user.id] }, prompt: '', label:"Nome do Prêmio" %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Pontos' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Custo' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Quantidade' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha' %>
    <%= f.button :submit, value: "Criar Prêmio!", class:"btn btn-primary w-100 rounded-4" %>
  <% end %>
</div>

<div class="container m-5 d-flex flex-column justify-content-center align-items-center">
  <h1>Edite um Prêmio</h1>
  <%= simple_form_for @challenge_done do |f| %>
    <%= f.input :user_id, collection: @users.map { |user| [user.email, user.id] }, prompt: '', label:"Nome do Prêmio" %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Pontos' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Custo' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Quantidade' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha' %>
    <%= f.button :submit, value: "Criar Prêmio!", class:"btn btn-primary w-100 rounded-4" %>
  <% end %>
</div>

<div class="container m-5 d-flex flex-column justify-content-center align-items-center">
  <h1>Edite o Pódio</h1>
  <%= simple_form_for @challenge_done do |f| %>
    <%= f.input :user_id, collection: @users.map { |user| [user.email, user.id] }, prompt: '', label:"Nome do Prêmio" %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 1' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 1' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 1' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 2' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 1' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 3' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 2' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 1' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 2' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 2' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 2' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 3' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 3' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 1' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 3' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 2' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 3' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 3' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 3' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 1' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 3' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 2' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Trilha 3' %>
    <%= f.input :challenge_id, collection: @challenges.map { |challenge| [challenge.title, challenge.id] }, prompt: '', label:'Prêmio 3' %>
    <%= f.button :submit, value: "Criar Prêmio!", class:"btn btn-primary w-100 rounded-4" %>
  <% end %>
</div>